@use 'variables.scss';


#aboutIntro {
    margin-top: 130px;
    padding: 0 58px;

    @include variables.small-desktop-media-query {
        padding: 0 30px;
    }   
}

.aboutIntro__container {
    display: flex;
    flex-direction: column;
    
    @include variables.under-tablet-media-query {
        text-align: center;
    }

    .ctaButton {
        align-self: center;
    }
}

.aboutParagraph {
    margin: 0 0 50px 0;
    font-family: variables.$roboto;
    font-size: 20px;
    line-height: 28px;
    color: variables.$brand-black;
    text-align: center;

    @include variables.small-desktop-media-query {
        margin: 0 0 25px 0;
        font-size: 18px;
        line-height: 24px;
    }
}



.aboutHeadline {
margin: 0 0 30px 0;
font-family: variables.$wendy-one;
font-size: 48px;
line-height: 50px;
color: variables.$brand-black;

    @include variables.small-desktop-media-query {
        margin: 0 0 15px 0;
        font-size: 32px;
        line-height: 36px;
    }
}


#aboutStaff {

    margin-top: 90px;
    padding: 0 58px;

    @include variables.small-desktop-media-query {
        padding: 0 30px;
    }   

    @include variables.under-tablet-media-query {
        text-align: center;
    }
}

.aboutStaffHeadline {
    margin: 0 0 30px 0;
    font-family: variables.$wendy-one;
    font-size: 48px;
    line-height: 50px;
    color: variables.$brand-black;

    @include variables.small-desktop-media-query {
        margin: 0 0 15px 0;
        font-size: 32px;
        line-height: 36px;
    }
}

.aboutStaffParagraph {
    margin: 0 0 50px 0;
    font-family: variables.$roboto;
    font-size: 20px;
    line-height: 28px;
    color: variables.$brand-black;
    text-align: center;

    @include variables.small-desktop-media-query {
        margin: 0 0 25px 0;
        font-size: 18px;
        line-height: 24px;
    }
}

.staffGrid {
    margin-bottom: 235px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-gap: 84px; 
    justify-content: center;

    @include variables.small-tablet-media-query {
        margin-bottom: 100px;
    }

    @include variables.under-tablet-media-query {
        gap: 30px;
    }
}

.staff {
    position: relative;
    display: flex;
    flex-direction: column;
}

.staff__name {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: variables.$brand-gold;
    font-family: variables.$wendy-one;
    font-size: 36px;
    color: variables.$brand-black;

    @include variables.mobile-media-query {
        height: 30px;
        font-size: 24px;
    }
}
