@use 'variables.scss';


.ctaButton {
    padding: 20px;
    display: flex;
    align-items: center;    
    background: variables.$brand-gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 250ms all;
        &:hover {
            transform: translateY(-5px);
        }

        a {
            font-family: variables.$wendy-one;
            font-size: 24px;
            color: variables.$brand-black;    
            text-decoration: none;
        }

        @include variables.small-desktop-media-query {
            font-size: 18px;
        }
}

.fa-paw {
    margin: 0 5px;
    color: variables.$brand-yellow;
    
}