@use 'variables.scss';

header {
    padding: 0 58px;
    display: flex;
    height: 100px;
    background: variables.$brand-gold;

    @include variables.tablet-media-query {
        padding: 0 30px;
    }

    @include variables.small-tablet-media-query {
        position: relative;
    }
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;


    &__logo {
        
        h1 {
            #logo {
            font-family: variables.$wendy-one;
            font-size: 72px;
            color: variables.$brand-black;
            text-decoration: none;
                &:visited {
                    color: variables.$brand-black;
                }
                
                @include variables.small-desktop-media-query {
                    font-size: 50px;
                }

                @include variables.tablet-media-query {
                    font-size: 32px;
                }
            }
        }
    }

    &__links {
        @include variables.small-tablet-media-query {
            display: none;
        }

        &.open {
            padding: 0 20px 0px 20px;
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            display: flex;
            background: variables.$brand-gold;
        }
    }

    &__list {
        display: flex;
        list-style: none;

        &.open {
            flex-direction: column;
            padding: 0;
        }
    }
    
    &__item {
        margin-right: 42px;
        &:last-child {
            margin-right: 0;
        }

        &.open {
            margin-top: 10px;
        }

        @include variables.small-desktop-media-query {
            margin-right: 18px;
        }
    }

    &__link {
        font-family: variables.$wendy-one;
        font-size: 36px;
        color: variables.$brand-black;
        text-decoration: none;

        @include variables.small-desktop-media-query {
            font-size: 24px;
        }

        @include variables.tablet-media-query {
            font-size: 20px;
        }
    }
}

.skipLink {
    padding: 20px;
    position: absolute;
    top: 75px;
    display: none;
    align-items: center;
    justify-content: center;
    background: #e8ba2c;
    border: 2px solid #000;
    border-radius: 5px;

        &__item {
            font-family: variables.$wendy-one;
            color: variables.$brand-black;
            font-size: 24px;
        }

        &.open {
            display: flex;
        }

}

#menuToggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;

    @include variables.small-tablet-media-query {
        display: block;
    }
}