@use 'variables.scss';

.cover-enter-active, 
.cover-leave-active,
.cover-enter-active .transition,
.cover-leave-active .transition  {
    transition: all 650ms ease-in-out;

}
.cover-leave .transition {
    transform: translateY(-100%);
}

.cover-leave-to .transition {
    transform: translateY(0);

}

.cover-enter .transition {
    transform: translateY(0);
}


.cover-enter-to .transition {
    transform: translateY(100%);
}

.self-enter-active, 
.self-leave-active,
.self-enter-active .transition,
.self-leave-active .transition  {
    transition: all 650ms ease-in-out;

}
.self-leave .transition {
    transform: translateY(-100%);
}

.self-leave-to .transition {
    transform: translateY(0);

}

.self-enter .transition {
    transform: translateY(0);
}


.self-enter-to .transition {
    transform: translateY(100%);
}






.transition {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: variables.$brand-gold;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    z-index: 1;
}