@use 'variables.scss';
@use 'nav.scss';
@use 'home.scss';
@use 'about.scss';
@use 'services.scss';
@use 'contact.scss';
@use 'button.scss';

body {
    background-color: variables.$body;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
