//font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Wendy+One&display=swap');
 
//font familys
$wendy-one: 'Wendy One', sans-serif;
$roboto: 'Roboto', sans-serif;

//font weight
$normal: 400;
$medium: 500;

//main colors
$body: #F8F8F8;
$brand-gold: #E8BA2C;
$brand-yellow: #F6D365;
$brand-black: #000;


//screen sizes
$desktop: 1440px;
$small-desktop: 1375px;
$tablet: 1040px;
$tablet-small: 768px;
$mobile: 480px;

//mixins
@mixin small-desktop-media-query {
    @media (max-width: 1375px) {
        @content;
    }
}

@mixin tablet-media-query {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin under-tablet-media-query {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin small-tablet-media-query {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile-media-query {
    @media (max-width: 480px) {
        @content;
    }
}